<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoEverWebsite" parallel="classes" thread-count="2">
    <test name="Chrome Browser Test">
        <classes>
            <class name="org.testPackage.DemoEverWebsiteTest"></class>
            <class name="org.testPackage.TestClass"></class>
        </classes>
    </test>
</suite>